*{
    padding: 0;
    margin: 0;
}
.addDress {
    box-sizing: border-box;
    background-color: #40534C;
    min-height: 70vh;
    padding-inline: 3px;
    max-width: 100vw; 
}

h1 {
    text-transform: capitalize;
    color: #eec992;
}

.addImage {
    width: 30px;
}

label {
    color: #D6BD98;
    font-size: 15px;
    font-weight: 450;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.input_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}

.input_box input {
    height: 35px;
    border-radius: 5px;
}

.spanSize {
    color: white;
}

.addbutton {
    background-color: rgb(42, 146, 87);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 10px 5px rgb(0, 0, 0, .7);
}

.check {
    width: 20px;
   
}
.check:hover{
    cursor: pointer;
}


@media(min-width:1024px){
    .addDress{
        padding-inline: 5px;
    }
    .input_box{
    margin-inline: 4px;

    }
}
@media (min-width: 640px) and (max-width: 767px) {
    .addDress{
        padding-left: 10px;
    }
}

@media (min-width:768px) {
    .input_box {
        width: 300px;
    }

}

@media (max-width:768px) {
    .input_box {
        width: 300px;
    }

}

@media (max-width:639px) {
    .input_box {
        width: 100vw;
        padding-left: 20px;
    }

    input {
        width: 60%;
    }
}

@media (max-width:400px) {
    input {
        width: 300px;
    }

    .check {
        width: 15px;
    }
}

@media (max-width:330px) {
    .input_box {
        width: 100vw;
        padding-inline: 5px;
    }

    input {
        width: 100%;
    }
}