*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.symbol_container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
}
#symbol_img{
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#symbol_img #imgg{
    position: relative;
    top: 20px;
    width: 1px;
    height: 1px;
    opacity: .1
}
#symbol_img span{
 position: absolute;
 top: 55px;
 left: 125px;
 font-size: larger;
 font-weight: bold;
 color: white;
 font-style: italic;
 z-index: 1;
}