*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.NoDetail{
    min-height: 70vh;
}
.Deatail{
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left: 10px;
}
.book{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
.Deatail span{
    text-transform: capitalize;
}
.imageBox{
    height: 0%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5px;
}
.imageBox img{
    height: 310px;
    width: 280px;
}
.arrow{
    margin-block: 5px;
    height: 20px;
    width: 50px;
    cursor: pointer;
}
.size{
    min-width: 28px;
    text-align: center;
    border: 2px solid rgb(160, 139, 99);
    border-style:double;
}
.info{
    display: flex;
    gap: 5px;
    margin-bottom:8px;
    padding-left: 20px;
}
.name{
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.data{
    font-weight: 490;
    color: rgb(0, 136, 255);
    font-style: italic;
}
.buyBox{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.buyButton{
    background-color: darkgreen;
padding: 5px;
color: wheat;
width: 100px;
border-radius: 5px;
}
.buyBox .Delete{
    background-color:#C0392B;
    padding: 5px;
    color: rgb(255, 255, 255);
    width: 100px;
    border-radius: 5px;
}
@media(max-width:300px){
    .imageBox img{
        height: 260px;
        width: 85vw;
        /* border: 2px  solid white; */
        border-radius: 5px;
    }
}